.#{$aml-ns}Container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $aml-spacing;
    padding-right: $aml-spacing;
    max-width: $aml-max-width;
}

.#{$aml-ns}Container--flush {
    padding-left: 0;
    padding-right: 0;
}

.#{$aml-ns}Container--tiny {
    padding-left: $aml-spacing-tiny;
    padding-right: $aml-spacing-tiny;
}

.#{$aml-ns}Container--small {
    padding-left: $aml-spacing-small;
    padding-right: $aml-spacing-small;
}

.#{$aml-ns}Container--large {
    padding-left: $aml-spacing-large;
    padding-right: $aml-spacing-large;
}

.#{$aml-ns}Container--huge {
    padding-left: $aml-spacing-huge;
    padding-right: $aml-spacing-huge;
}
