.o-#{$aml-ns}Grid {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    &.has-gutter {
        margin-left: -$aml-grid-gutter;
        width: calc(100% + #{$aml-grid-gutter});
    }

    // @TODO: This seems to break the layout when using sizes that equal less than 100%
    &.has-vertical-gutter {
        margin-bottom: -$aml-grid-vertical-gutter;
    }
}

.o-#{$aml-ns}Grid--noWrap {
    flex-wrap: nowrap;
}

.o-#{$aml-ns}Grid--center {
    justify-content: center;
}

.o-#{$aml-ns}Grid-item {
    flex: 0 0 auto;
    width: 100%;

    .o-#{$aml-ns}Grid--grows > & {
        flex-grow: 1;
    }

    .o-#{$aml-ns}Grid.has-gutter > & {
        padding-left: $aml-grid-gutter;
    }

    .o-#{$aml-ns}Grid.has-vertical-gutter > & {
        padding-bottom: $aml-grid-vertical-gutter;
    }
}
