@use "sass:math";

@use "../../settings";
@use "strip-unit" as *;

@function responsive-text(
    $min-font-size,
    $max-font-size,
    $min-site-width: settings.$min-site-width,
    $max-site-width: settings.$max-site-width,
    $base-font-size: settings.$base-font-size
) {
    $min-font-size: strip-unit($min-font-size, $base-font-size);
    $max-font-size: strip-unit($max-font-size, $base-font-size);
    $min-site-width: strip-unit($min-site-width, $base-font-size);
    $max-site-width: strip-unit($max-site-width, $base-font-size);

    $slope: math.div(
        $max-font-size - $min-font-size,
        $max-site-width - $min-site-width
    );

    $yAxisIntersection: -$min-site-width * $slope + $min-font-size;

    @return clamp(
        $min-font-size * 1rem,
        calc(#{$yAxisIntersection * 1rem} + #{$slope * 100vw}),
        $max-font-size * 1rem
    );
}
