.u-#{$aml-ns}fullWidth {
    position: relative #{$aml-important};
    left: 50% #{$aml-important};
    right: 50% #{$aml-important};
    width: 100vw #{$aml-important};
    margin-left: -50vw #{$aml-important};
    margin-right: -50vw #{$aml-important};
}
