@mixin _aml-generate-sizes($denominators, $breakpoint: null) {
    @each $denominator in $denominators {
        @for $numerator from 1 through $denominator {
            @if aml-gcd($numerator, $denominator) == 1 {
                // Calculate the percentage for the width
                $size: 100% * ($numerator / $denominator);

                $suffix: #{$numerator}\/#{$denominator}#{if($breakpoint, \@#{$breakpoint}, "")};

                // Example output selectors: .u-3/4 or .u-1/2@large
                .u-#{$aml-ns}#{$suffix} {
                    width: $size #{$aml-important};
                }

                @if $aml-generate-pushers {
                    // Example output selectors: .u-push-3/4 or .u-push-1/2@large
                    .u-#{$aml-ns}push-#{$suffix} {
                        position: relative #{$aml-important};
                        right: auto #{$aml-important};
                        left: $size #{$aml-important};
                    }
                }

                @if $aml-generate-pullers {
                    // Example output selectors: .u-pull-3/4 or .u-pull-1/2@large
                    .u-#{$aml-ns}pull-#{$suffix} {
                        position: relative #{$aml-important};
                        right: $size #{$aml-important};
                        left: auto #{$aml-important};
                    }
                }
            }
        }
    }
}

@include _aml-generate-sizes($aml-denominators);

@if ($aml-generate-breakpoint-variants) {
    @each $name, $size in $aml-breakpoints {
        @include bp($name) {
            @include _aml-generate-sizes($aml-denominators, $name);
        }
    }
}
