.u-#{$aml-ns}textLeft {
    text-align: left #{$aml-important};
}

.u-#{$aml-ns}textCenter {
    text-align: center #{$aml-important};
}

.u-#{$aml-ns}textRight {
    text-align: right #{$aml-important};
}
