// For Screen Readers. From html5 boilerplate: https://html5boilerplate.com/
.u-#{$aml-ns}visuallyHidden {
    position: absolute #{$aml-important};
    width: 1px #{$aml-important};
    height: 1px #{$aml-important};
    overflow: hidden #{$aml-important};
    clip: rect(1px, 1px, 1px, 1px) #{$aml-important};
    white-space: nowrap #{$aml-important};

    &.is-focusable {
        &:active,
        &:focus {
            position: static #{$aml-important};
            width: auto #{$aml-important};
            height: auto #{$aml-important};
            margin: 0 #{$aml-important};
            overflow: visible #{$aml-important};
            clip: auto #{$aml-important};
            white-space: inherit #{$aml-important};
        }
    }
}
