// Remove default margins and padding
* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input:where([type="button"]),
input:where([type="submit"]),
input:where([type="reset"]) {
    -webkit-appearance: button;
    cursor: pointer;
}

input:where([type="file"]),
label:where([for]) {
    cursor: pointer;
}

textarea {
    overflow: auto;
}

textarea,
optgroup,
button,
select,
input {
    font: inherit;
    line-height: inherit;
    font-size: max(16px, 1em);
    border-radius: 0;
}
