$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);

$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// Reversed Curves

$easeInSineReverse: cubic-bezier(0.255, 0.285, 0.53, 1);
$easeOutSineReverse: cubic-bezier(0.435, 0, 0.61, 0.425);
$easeInOutSineReverse: cubic-bezier(0.45, 0.05, 0.555, 0.95);

$easeInQuadReverse: cubic-bezier(0.32, 0.47, 0.45, 0.915);
$easeOutQuadReverse: cubic-bezier(0.55, 0.06, 0.75, 0.54);
$easeInOutQuadReverse: cubic-bezier(0.485, 0.045, 0.545, 0.97);

$easeInCubicReverse: cubic-bezier(0.325, 0.81, 0.45, 0.945);
$easeOutCubicReverse: cubic-bezier(0.645, 0, 0.785, 0.39);
$easeInOutCubicReverse: cubic-bezier(0.645, 0, 0.355, 0.955);

$easeInQuartReverse: cubic-bezier(0.315, 0.78, 0.105, 0.97);
$easeOutQuartReverse: cubic-bezier(0.56, 0, 0.835, 0.16);
$easeInOutQuartReverse: cubic-bezier(0.825, 0, 0.23, 1);

$easeInQuintReverse: cubic-bezier(0.145, 0.94, 0.245, 0.95);
$easeOutQuintReverse: cubic-bezier(0.68, 0, 0.77, 0);
$easeInOutQuintReverse: cubic-bezier(0.93, 0, 0.14, 1);

$easeInExpoReverse: cubic-bezier(0.205, 0.965, 0.05, 0.95);
$easeOutExpoReverse: cubic-bezier(0.78, 0, 0.81, 0);
$easeInOutExpoReverse: cubic-bezier(1, 0, 0, 1);

$easeInCircReverse: cubic-bezier(0.02, 0.665, 0.4, 0.96);
$easeOutCircReverse: cubic-bezier(0.835, 0, 0.925, 0.18);
$easeInOutCircReverse: cubic-bezier(0.85, 0.14, 0.215, 0.865);

$easeInBackReverse: cubic-bezier(0.265, 0.955, 0.4, 1.28);
$easeOutBackReverse: cubic-bezier(0.68, 0, 0.825, 0.39);
$easeInOutBackReverse: cubic-bezier(0.735, 0, 0.32, 2.1);
