@use "../tools/functions" as fns;
@use "../tools/mixins";
@use "../settings";

.o-#{fns.get-ns()}Container {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [wrapper-start] minmax(0, var(--aml-max-site-width))
    [wrapper-end] 1fr [full-end];
  margin-inline: auto;
  padding-inline: var(--aml-spacing);

  > :where(*) {
    grid-column: wrapper;
  }

  // Allow children to occupy the full width if needed
  > :where(.is-full-width) {
    grid-column: full;
  }
}

.o-#{fns.get-ns()}Container--flush {
  @include mixins.bp-variants {
    padding-inline: 0;
  }
}

.o-#{fns.get-ns()}Container--xs {
  @include mixins.bp-variants {
    padding-inline: var(--aml-spacing-xs);
  }
}

.o-#{fns.get-ns()}Container--sm {
  @include mixins.bp-variants {
    padding-inline: var(--aml-spacing-sm);
  }
}

.o-#{fns.get-ns()}Container--md {
  @include mixins.bp-variants {
    padding-inline: var(--aml-spacing-md);
  }
}

.o-#{fns.get-ns()}Container--lg {
  @include mixins.bp-variants {
    padding-inline: var(--aml-spacing-lg);
  }
}

.o-#{fns.get-ns()}Container--xl {
  @include mixins.bp-variants {
    padding-inline: var(--aml-spacing-xl);
  }
}
