@use "../tools/functions" as fns;
@use "../settings";

.o-#{fns.get-ns()}Container {
    display: grid;
    grid-template-columns:
        [full-start] 1fr [wrapper-start] minmax(0, var(--aml-max-site-width))
        [wrapper-end] 1fr [full-end];
    margin-inline: auto;
    padding-inline: var(--aml-spacing);

    > :where(*) {
        grid-column: wrapper;
    }

    // Allow children to occupy the full width if needed
    > :where(.is-full-width) {
        grid-column: full;
    }
}

.o-#{fns.get-ns()}Container--flush {
    padding-inline: 0;
}

.o-#{fns.get-ns()}Container--xs {
    padding-inline: var(--aml-spacing-xs);
}

.o-#{fns.get-ns()}Container--s {
    padding-inline: var(--aml-spacing-s);
}

.o-#{fns.get-ns()}Container--l {
    padding-inline: var(--aml-spacing-l);
}

.o-#{fns.get-ns()}Container--xl {
    padding-inline: var(--aml-spacing-xl);
}
