@import "./aml-strip-unit";

// Can't call this unitless because of the built-in function
@function aml-no-unit($font-size, $base-font-size: $aml-font-size) {
    $unitless-base-font-size: aml-strip-unit($base-font-size);
    $unitless-font-size: aml-strip-unit($font-size);
    $unit: unit($font-size);

    @if unitless($font-size) {
        @return $font-size;
    } @else if $unit == "px" {
        @return $unitless-font-size / $unitless-base-font-size;
    } @else if $unit == "em" {
        @return $unitless-font-size * $unitless-base-font-size;
    } @else if $unit == "%" {
        @return aml-strip-unit($font-size / 100) * $unitless-base-font-size;
    }

    @error "Couldn't handle unit type: #{$unit}";
}
