@use "../settings";
@use "../tools/mixins";
@use "../tools/functions" as fns;

.u-#{fns.get-ns()}hidden {
    visibility: hidden !important;
    display: none !important;
}

.u-#{fns.get-ns()}hidden\@no-js {
    .no-js & {
        @extend .u-#{fns.get-ns()}hidden;
    }
}

@media print {
    .u-#{fns.get-ns()}hidden\@print {
        visibility: hidden !important;
        display: none !important;
    }
}

@each $name, $size in settings.$breakpoints {
    @include mixins.bp($name) {
        .u-#{fns.get-ns()}hidden\@bp-#{$name} {
            visibility: hidden !important;
            display: none !important;
        }
    }

    @include mixins.bp-max($name) {
        .u-#{fns.get-ns()}hidden\@bp-max-#{$name} {
            visibility: hidden !important;
            display: none !important;
        }
    }
}
