@use "../settings";
@use "../tools/functions" as fns;

.u-#{fns.get-ns()}visuallyHidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    white-space: nowrap !important;

    &:where(.is-focusable) {
        &:where(:active),
        &:where(:focus) {
            position: static !important;
            width: auto !important;
            height: auto !important;
            margin: 0 !important;
            overflow: visible !important;
            clip: auto !important;
            white-space: inherit !important;
        }
    }
}
