@use "@amloop/aml-css/src/settings";
@use "@amloop/aml-css/src/tools/functions" as fns;

:root {
  // -- Typography

  // ---- General

  --aml-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --aml-font-mono: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier,
    monospace;
  --aml-font-size: #{settings.$base-font-size}px;
  --aml-line-height: 1.5;
  --aml-font-weight: 400;

  // -- Colors

  --aml-bg-color: transparent;
  --aml-text-color: #000;
  --aml-link-color: #3084bb;
  --aml-link-color-hover: var(--aml-link-color);

  // ---- Links

  --aml-link-decoration: underline;
  --aml-link-decoration-hover: none;

  // -- Site width

  // `--aml-max-site-width` is used to determine the container content width
  --aml-min-site-width: #{fns.rem(settings.$min-site-width)};
  --aml-max-site-width: #{fns.rem(settings.$max-site-width)};

  // -- Spacing

  --aml-spacing: #{fns.rem(20)};
  --aml-spacing-xs: calc(var(--aml-spacing) / 4);
  --aml-spacing-sm: calc(var(--aml-spacing) / 2);
  --aml-spacing-md: var(--aml-spacing);
  --aml-spacing-lg: calc(var(--aml-spacing) * 2);
  --aml-spacing-xl: calc(var(--aml-spacing) * 4);

  // -- Default margin and padding

  --aml-margin: var(--aml-spacing);
  --aml-padding: var(--aml-spacing);

  // -- List Settings

  --aml-list-indentation: var(--aml-spacing);
}
