a {
    display: inline-block;
    text-decoration: var(--aml-link-decoration, none);
    color: var(--aml-link-color);

    &:where(:hover),
    &:where(:active) {
        text-decoration: var(--aml-link-decoration-hover, none);
        color: var(--aml-link-color-hover, var(--aml-link-color));
    }
}
